/* CSS from Ana's mockup page */

a:link {
	color:#8ba393;
	text-decoration:underline;
}

a:visited {
	color:#a98634;
}

a:hover {
	text-decoration:none;
}

body {
	font:x-small/1.4 Tahoma, Verdana, Helvetica, Arial, sans-serif;
	background:#FFF url(images/bg.gif) repeat top left;
	color:#1e3947;
	margin:0;
	padding:0;
}

#container {
	margin:0 0 0 45px;
	background:#FFF url(images/bg_container.gif) repeat-y top left;
	width: 640px !important; 
	width /**/:650px; /* IE5/Win */
	padding:0 5px;
	border-bottom:5px solid #FFF;
	position:relative;
	font-size:110%;
}

#pageHeader {
	width:640px;
	height:175px;
	background:#FFF url(images/page_header.jpg) no-repeat top left;
}

#quickSummary {
	height:125px;
	width:640px;
	background-color:#FFF;
	position:relative;
}

#quickSummary p {
	margin:0;
	padding:0;
}

#quickSummary .p1 {
	position:absolute;
	top:0;
	left:0;
	width:405px;
	height:120px;
	background:#1e3947 url(images/quick_summary_p1.jpg) no-repeat top left;
}

#quickSummary .p1 span { display:none; }

#quickSummary .p2 {
	position:absolute;
	top:1px;
	left:412px;
	width:230px;
	height:120px;
	background:transparent url(images/button_html.gif) no-repeat top left;
	overflow:hidden;
}

#quickSummary .p2 span {
	visibility:hidden;
	white-space:nowrap;
}

#quickSummary .p2 a {
	width:230px;
	height:60px;
	float:right;
	visibility:visible;
	text-indent:-9000px;
	overflow:hidden;
	margin-top:-1.4em;
	margin-bottom:1.4em;
}

#pageHeader h1, #pageHeader h2 {
	display:none;
}

#preamble {
	margin-right:235px;
	padding:5px;
	background:#ccc9a0;
}

#preamble h3 {
	margin:0 0 5px;
	padding:0;
	width:238px;
	height:64px;
	text-indent:-9000px;
	overflow:hidden;
	background:transparent url(images/title_the_road.gif) no-repeat top left;
}

#preamble p {
	margin:0 10px 10px;
	padding:0;
}

#preamble p.p3 {
	margin:0 10px 5px;
}

#supportingText {
	margin-right:235px;
	padding:5px;
}

#linkList {
	position:absolute;
	top:200px;
	left:415px;
	width:230px;
}

#footer {
	margin:0 -240px -5px -5px;
	border-top:5px solid #FFF;
	background-color:#1e3947;
	padding:10px;
	text-transform:uppercase;	
}

#footer a {
	color:#FFF;
	text-decoration:underline;
}

#footer a:hover {
	color:#D2DBE2;
	text-decoration:none;
}

#explanation h3, #participation h3, #benefits h3, #requirements h3 {
	margin:10px 0 5px;
	padding:0;
	width:238px;
	height:64px;
}

#explanation h3 { 		background:transparent url(images/about_us.gif) no-repeat top left; }
#participation h3 { 	background:transparent url(images/title_participation.gif) no-repeat top left; }
#benefits h3 { 			background:transparent url(images/title_benefits.gif) no-repeat top left; }
#requirements h3 { 		background:transparent url(images/about_us.gif) no-repeat top left; }

#preamble h3 span,
#explanation h3 span,
#participation h3 span,
#benefits h3 span,
#requirements h3 span {
	display:none;
}

#lselect li a, #lfavorites li a {display: block; margin-left:-10px; font-weight:bold;}
#linkList li a.c, #lfavorites li a.c {float:none; display:inline; margin-left:0; font-weight:normal; font-size:100%;}

#supportingText p {
	margin:0 10px 10px;
	padding:0;
}

#linkList ul {
	width:210px;
	margin:0 0 10px 15px;
	padding:0;
}

#linkList li {
	padding: 0 0 0 20px;
	margin:0 0 5px;
	list-style-type:none;
	white-space:nowrap;
	background: transparent url(images/bullet_normal.gif) no-repeat 0 1px;
}

#lselect ul, #lfavorites ul {
	width:210px;
	margin:0 0 10px 15px;
	padding:0;
}

#lselect li, #lfavorites li {
	padding: 0 0 0 25px;
	margin:0 0 5px;
	list-style-type:none;
	clear:left;
	white-space:nowrap;
	background: transparent url(images/bullet_styles.gif) no-repeat 0 3px;
}

#linkList h3 {
	margin:0 0 10px;
	background:#415d6b url(images/link_list_h3.gif) repeat-y top left;
	padding:5px 5px 5px 15px;
	font-weight:bold;
	color:#ccc9a0;
	font-size:100%;
}

acronym {
	border-bottom:1px dotted #1e3947;
	cursor:help;
}

a acronym {
	border-bottom:1px dotted #8ba393;
}

#lfavorites, #larchives, #lresources {
	border-top:5px solid #FFF;
}
